{{extend "bootstrap_layout.html"}}

{{block content}}
<h1>{{=_('报名注册')}}</h1>

<p><span class="bold">{{=_('大会时间')}}：</span>{{=_('2011年12月3日-12/4 9:30-18:00')}}</p>
 
<p><span class="bold">{{=_('大会地点')}}：</span>{{=_('上海虹口区广纪路838号中国出版蓝桥创意园主楼7楼会议室')}}</p>
  
<p><span class="bold">{{=_('与会人数')}}：</span>{{=_('300人')}}</p>
 
<p><span class="bold">{{=_('参会人员')}}：</span>{{=_('对Python技术痴迷的蟒粉，Python开发人员，Python初学者和对Python感兴趣的人。')}}</p>
 
<p><span class="bold">{{=_('参会费用')}}：60{{=_('元/人')}}</span></p>

<p>（{{=_('总费用原价为')}}<span class="bold">210{{=_('元/人')}}</span>，{{=_('包括：两顿午餐费')}}<span class="bold">60{{=_('元')}}</span>，{{=_('礼品费')}}<span class="bold">20{{=_('元')}}</span>，{{=_('会费')}}<span class="bold">130{{=_('元')}}</span>，{{=_('其中赞助商为每位参会者提供的支持费用为')}}：<span class="bold">150{{=_('元/人')}}</span>，{{=_('参会者实际缴纳费用为')}}<span class="bold">60{{=_('元/人')}}</span>。）</p>

<a class="btn large primary" href="http://pycon.51qiangzuo.com/" target="_blank">{{=_('前往报名交费页面')}} &raquo;</a>
<br /><br />

<p>{{=_('由于赞助费有限，仅能解决会场、嘉宾交通住宿和餐饮、组织宣传、参会者礼品等费用，需要参会者支付部分午餐费用。')}}</p>
<p class="bold">{{=_('报名并成功支付后将在大会前收到邮件通知，会场有电子签到确认报名情况。')}}</p>
<p>{{=_('如果有确实对缴纳参会费用有困难或者有异议的朋友，可以联系PyCon组委会(邮件:stingchen@topgeek.org)申请减免。组委会可以考虑通过安排作为志愿者参与组织工作来予以减免，但名额有限。')}}</p>

<h2>{{=_('报名后的门票和晚宴说明：')}}</h2>
<br />
<ol>
    <li>{{=_('报名并成功支付后将收到邮件通知。在大会前还有会议通知。')}}</li>
    <li>{{=_('会场有电子签到确认报名情况。')}}</li>
    <li>{{=_('报名与嘉宾吃饭，则会在会议过程中由工作人员确认。在晚餐后按实际消费情况付费。')}}</li>
</ol>

{{end}}
