{{extend "bootstrap_layout.html"}}
{{block meta}}
<script type="text/javascript" src="{{=url_for_static('js/bootstrap-twipsy.js')}}"></script>
<script type="text/javascript" src="{{=url_for_static('js/bootstrap-popover.js')}}"></script>
<script type="text/javascript">
    LANG = "{{=_('cn')}}"
</script>
<script type="text/javascript" src="{{=url_for_static('js/schedule.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/schedule.css')}}" />
{{end}}
{{block content}}
<h1>{{=_('日程安排')}}</h1>
<table class="zebra-striped">
        <tr>
            <th>{{=_('日期')}}</th>
            <th>{{=_('时间')}}</th>
            <th>{{=_('项目')}}</th>
            <th>{{=_('演讲者')}}</th>
            <th>{{=_('主题')}}</th>
        </tr>
        <tr>
            <td rowspan="3" class="date">{{=_('2011年12月2日')}}</td>
        </tr>
        <tr>
            <td>{{=_('19:00-19:15')}}</td>
            <td>{{=_('晚宴致辞')}}</td>
            <td style="width:130px;">{{=_('组织者以及赞助商代表')}}</td>
            <td>{{=_('欢迎晚宴签到和致辞')}}</td>
        </tr>
        <tr>
            <td>{{=_('19:15-21:15')}}</td>
            <td>{{=_('欢迎晚宴')}}</td> 
            <td style="width:130px;">{{=_('组织者以及赞助商代表')}}</td>
            <td>{{=_('嘉宾和组织者，赞助商代表一起晚宴，彼此加深了解，同时为大会的顺利进行做好准备。')}}</td>
        </tr>
        
        <tr>
            <td rowspan="17" class="date">{{=_('2011年12月3日')}}</td>
        </tr>
        <tr class="break">
            <td>{{=_('08:30-09:20')}}</td>
            <td>{{=_('签到')}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{=_('09:20-09:30')}}</td>
            <td>{{=_('主办方和赞助者介绍')}}</td>
            <td style="width:130px;">{{=_('组织者以及赞助商代表')}}</td>
            <td>{{=_('包括来自赞助商Google，主办方GTUG， TopGeek， CPyUG的代表进行组织介绍。')}}</td>
        </tr>
        <tr>
            <td>{{=_('09:30-09:35')}}</td>
            <td>{{=_('大会致辞《Python让世界更精彩》')}}</td>
            <td>{{=_('陈世欣')}}</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{=_('09:35-10:25')}}</td>
            <td>{{=_('Video联播《世界各国Python高手的演讲》')}}</td>
            <td>{{=_('各国Pythoner')}}</td>
            <td>{{=_('播放来自PyCon.Org, 美国加州Google，荷兰，新西兰，北京，深圳等的Python高手的讲话录像，虽然他们不能前来参加，但是视频形式也一样可以参与。在同样用Python的世界，也许未来某一天有机会面对面。')}}</td>
        </tr>
        <tr>
            <td>{{=_('10:25-11:10')}}</td>
            <td>{{=_('《Python ，通向未来之路》')}}</td>
            <td>{{=_('沈崴')}}</td>
            <td>{{=_('让我们走向新的辉煌吧！')}}</td>
        </tr>
        <tr class="break">
            <td>{{=_('11:10-11:15')}}</td>
            <td>{{=_('休息')}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{=_('11:15-12:00')}}</td>
            <td>{{=_('《Python游戏开发探索与发现》')}}</td>
            <td>{{=_('林伟')}}</td>
            <td>{{<<_('当前的游戏开发，存在着游戏内容越来越繁杂，服务人数越来越多，市场变化越来越快等现状，导致一款游戏的开发的成本越来越高，风险越来越高，规模也越来越大。这一直是最棘手的问题。<br />如何才能利用 Python高效的开发速度来降低游戏开发的成本？如何用 Python架构上万人在线的游戏服务器？如何使用Python来快速开发图形和客户端逻辑？Py在现今的多核体系下是否力不从心？是否"高性能"永远不属于我们讨论的范围？Py在各个游戏项目中的使用情况如何？<br />所以本年度PyCon我们邀请到了这方面的专家--网易互动娱乐的资深技术主管，林伟，给大家分享他们把Py应用在游戏开发中的各种技术关键点。')}}</td>
        </tr>
        <tr class="break">
            <td>{{=_('12:00-13:00')}}</td>
            <td>{{=_('午餐')}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{=_('13:00-13:45')}}</td>
            <td>{{=_('《Python在豆瓣的应用》')}}</td>
            <td>{{=_('洪强宁')}}</td>
            <td>{{=_('Python是豆瓣网开发的主力语言。从在线应用到离线运算到后台维护，Python都起着不可替代的作用。本演讲将详细介绍豆瓣网在各个方面是如何应用Python的，以及我们的一些经验和教训。')}}</td>
        </tr>
        <tr>
            <td>{{=_('13:45-14:30')}}</td>
            <td>《Scale web application stack with coro-thread》</td>
            <td>Damien Hou</td>
            <td>We've been using greenlet and coroutine for more than 5 years. In fact, we've built full web application stack upon coro-thread, including web servers, cache servers and db accessing servers. We'd like to share some knowledge on how those servers are built and communicating to each other, and how we handle scalability.</td>
        </tr>
        <tr class="break">
            <td>{{=_('14:30-15:00')}}</td>
            <td>{{=_('茶歇')}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{=_('15:00-15:45')}}</td>
            <td>{{=_('《易度PaaS云开发平台技术内幕》')}}</td>
            <td>{{=_('潘俊勇')}}</td>
            <td>{{=_('易度PaaS是国内第一个基于Python语言的企业应用云端开发平台。演讲将分析现有的企业PaaS平台，讲述易度是如何利用现有开源技术，依托python/zope/pyramid等主要技术来构建这一平台的。')}}</td>
        </tr>
        <tr>
            <td>{{=_('15:45-16:30')}}</td>
            <td>{{=_('《大规模视频网站的计费与流量管理》')}}</td>
            <td>{{=_('黄冬')}}</td>
            <td>{{<<_('所有的互联网网站都开始面对大容量的CDN和大规模的分布式部署。流量已经从之前的不被关注的话题变为触动成本的最为敏感的神经。所以出现了一系列的问题，如何知道自己的网站使用了多少流量或带宽？如何与合作伙伴核对使用量？在一个更为规模化的视频网站上如何对流量进行分析？如何对用户的流量进行调度?<br />本次分享将会是一个非常垂直而细节性的话题，将会就以上问题从操作层面细细进行讲解和分析，为系统工程师们揭示平日里我们没有关心的另一些内容。同时也希望本次分享能揭示行业中的一些"潜规则"，让互联网行业的流量与带宽管理更为开放与简洁。')}}</td>
        </tr>
        <tr>
            <td>{{=_('16:30-17:15')}}</td>
            <td>{{=_('《SAE(Sina AppEngine) 的 python 版实现》')}}</td>
            <td>{{=_('陈正')}}</td>
            <td>{{=_('简要介绍Sina SAE云计算平台(新浪的AppEngine，类似Google的AppEngine，同样支持Python版本的实现)，SAE Python功能特性介绍，演示如何在SAE平台上使用Python语言开发简单应用，使用Django, Flask, Bottle框架等，还包括Python Web Hosting现状概览，运行第三方代码的Python sandbox实现等技术分享。')}}</td>
        </tr>
        <tr>
            <td>{{=_('17:15-18:00')}}</td>
            <td>{{=_('互动环节')}}</td>
            <td>&nbsp;</td>
            <td>{{=_('所有当日演讲嘉宾参与的互动提问')}}</td>
        </tr>
        <tr class="break">
            <td>{{=_('19:00-21:00')}}</td>
            <td>{{=_('把酒话英雄 - Python爱好者与嘉宾们晚宴')}}</td>
            <td>&nbsp;</td>
            <td>{{=_('Python参会者们与嘉宾们在晚餐桌上继续深度沟通和交流。完全开发，全互动沟通。')}}<br />
{{=_('注意，这个晚宴人人都可报名参加，但是需要支付自己的餐费（即AA制）。')}}</td>
        </tr>

        <tr>
            <td rowspan="22" class="date">{{=_('2011年12月4日')}}</td>
        </tr>
        <tr class="break">
            <td>{{=_('09:00-09:30')}}</td>
            <td>{{=_('签到')}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{=_('09:30-09:35')}}</td>
            <td>{{=_('日程介绍')}}</td>
            <td>&nbsp;</td>
            <td>{{=_('介绍今天的嘉宾和会议日程')}}</td>
        </tr>
        <tr>
            <td>{{=_('09:35-10:10')}}</td>
            <td>{{=_('《用Python实现基于MySQL为后台的Schemaless数据存储系统》')}}</td>
            <td>Ryan Ye</td>
            <td>{{=_('近年来NoSQL逐渐引起技术公司的关注，成为讨论的热点。不过许多公司仍在使用关系数据库。Slide公司(2010被Google收购)成立于2005年，当时使用MySQL数据库做数据的存储。但在开发过程中发现使用Schemaless的数据模型，更适合产品的快速开发迭代。所以我们用Python语言实现了一套基于MySQL为后台的Schemaless数据存储系统，本次演讲主要向大家介绍一下开发的经验以及如何结合分布式服务器群来处理海量数据。')}}</td>
        </tr>
        <tr>
            <td>{{=_('10:10-10:20')}}</td>
            <td>{{=_('Q/A')}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{=_('10:20-11:05')}}</td>
            <td>{{=_('《基于 MQ 解耦应用开发》')}}</td>
            <td>{{=_('周琦')}}</td>
            <td>{{=_('分享一个基础命题的思考："在Web开发中,复杂功能系统一定也必须是复杂的吗？"，分析基于MQ来令Web系统变成由各种小而美的脚本和谐串起来的类UNIX体系。')}}</td>
        </tr>
        <tr>
            <td>{{=_('11:05-11:15')}}</td>
            <td>{{=_('Q/A')}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="break">
            <td>{{=_('11:15-11:20')}}</td>
            <td>{{=_('休息')}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{=_('11:20-12:05')}}</td>
            <td>{{=_('《Web 框架开发思考与实践 — Uliweb》')}}</td>
            <td>{{=_('李迎辉')}}</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{=_('12:05-12:15')}}</td>
            <td>{{=_('Q/A')}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="break">
            <td>{{=_('12:15-13:15')}}</td>
            <td>{{=_('午餐')}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{=_('13:15-14:00')}}</td>
            <td>{{=_('《Python 之于 Webgame 的应用》')}}</td>
            <td>{{=_('赖勇浩')}}</td>
            <td>{{=_('Python 已经成为了 WebGame 行业的主流编程语言，本演讲将在使用 Python 开发 MMOGs 服务器端的领域上，比如大型 Python 应用的开发模式、高性能 I/O、协程、通信，以及 Python 的优势与缺陷等，与大家分享和交流经验。')}}</td>
        </tr>
        <tr>
            <td>{{=_('14:00-14:10')}}</td>
            <td>{{=_('Q/A')}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{=_('14:10-14:55')}}</td>
            <td>{{=_('《中型角色扮演网络游戏服务器的 python 应用》')}}</td>
            <td>{{=_('王健')}}</td>
            <td>{{=_('通过一款 Python 主力开发的中型角色扮演游戏，对游戏服务端架构设计进行说明，并在游戏核心战斗模型等诸方面进行详解。')}}</td>
        </tr>
        <tr>
            <td>{{=_('14:55-15:05')}}</td>
            <td>{{=_('Q/A')}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="break">
            <td>{{=_('15:05-15:20')}}</td>
            <td>{{=_('休息')}}</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{=_('15:20-15:35')}}</td>
            <td>{{=_('快速演讲：《OpenERP方案介绍和二次开发》')}}</td>
            <td>{{=_('王剑峰')}}</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{=_('15:35-15:45')}}</td>
            <td>{{=_('快速演讲：《用Python改进迅雷离线 — A Python Successful Story》')}}</td>
            <td>{{=_('刁立知')}}</td>
            <td>{{=_('主要讲三件用Python对迅雷离线做的改进:')}}
            <br />1) {{=_('用Python脚本计算文件ed2k链接，用迅雷离线发送大文件')}}
            <br />2) {{=_('用Python写XBMC的插件，直接从迅雷点播视频文件')}}
            <br />3) {{=_('用Python脚本在Linux Server环境中下载迅雷离线上的文件')}}
            </td>
        </tr>
        <tr>
            <td>{{=_('15:45-15:55')}}</td>
            <td>{{=_('快速演讲：《与Python一路走来》')}}</td>
            <td>{{=_('李俊东')}}</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{=_('15:55-16:05')}}</td>
            <td>{{=_('快速演讲：《用Tornado搭建实时应用》')}}</td>
            <td>{{=_('林君')}}</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>{{=_('16:05-16:15')}}</td>
            <td>{{=_('快速演讲：《PyCon China官网的开发及搭建》')}}</td>
            <td>{{=_('孙大同')}}</td>
            <td>{{=_('讨论Python在中小型网站开发的过程中可能遇到的问题及其解决方案。')}}
            </td>            
        </tr>
        <tr>
            <td>{{=_('16:30-17:30')}}</td>
            <td>{{=_('快速演讲：Python和开源产品秀')}}</td>
            <td>{{=_('参会人员')}}</td>
            <td>{{=_('现场征集快速演讲嘉宾，演讲人分享自己的Python开发技术心得，演示产品等。')}}
            </td>
        </tr>
</table>
{{end}}
