{{extend "bootstrap_layout.html"}}

{{block meta}}
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/sponsors.css')}}" />
{{end}}

{{block content}}
<h1>{{=_('赞助商')}}</h1>

<h3>{{=_('赞助商为PyCon大会的成功举办提供了必不可少的支持。同时，如果您和您的公司愿意支持中国Python社区的交流事业，请与PyCon组委会(邮件:stingchen@topgeek.org)联系，赞助商在大会官网的首页及“赞助商”页面展示您的公司Logo及简介。')}}</h3><br />

    <div class="row show-grid" style="border-top: 1px solid #EEEEEE;">
        <div class="span-one-third"><a target="_blank" href="http://www.google.com/"><img src="{{=url_for_static('images/sponsors/google.png')}}" alt="Google" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('Google是一家以提供搜索服务、并向企业客户提供广告服务为重点的盈利公司。Google以其搜索迅速、准确、容易使用等特点，被公认为是世界最佳搜索引擎。')}}
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.tudou.com/"><img src="{{=url_for_static('images/sponsors/tudou.png')}}" alt="Tudou" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('土豆网(Tudou.com)是中国最早和最具影响力的视频分享网站，是中国网络视频行业的领军品牌，也是全球最早上线的视频分享网站之一。王微是土豆网创始人兼CEO。')}}
<br /><br />
{{=_('土豆网于2005年4月15日正式上线，每天独立用户数超过2500万，每月2亿用户，拥有超过8000万的注册用户。2011年8月17日，土豆网在美国纳斯达克上市，股票代码：TUDO。')}}
<br /><br />
{{=_('从土豆成立的第一天，我们相信的就是，"每个人都是生活的导演"。我们的目标，让富有创造力的节目的创造者和分享者们能够自由地让自己的节目在用户面前出现，同时，也让每一个用户随时随地都能看到自己想看到的任何节目。')}}
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.ccpgames.com/zh/home"><img src="{{=url_for_static('images/sponsors/ccp.gif')}}" alt="CCPGames" width="200" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('CCP游戏公司被誉为全球单服务器架构多人在线网络游戏的行业领袖。其旗舰产品为广受赞誉的科幻主题太空游戏EVE Online。利用跨职能的无缝协作方式，借助其业界顶尖的技术实力和卓尔不凡的艺术表现力，CCP只专注于设计开发令人惊叹的、魅力无穷的游戏产品。这些产品力求通过建立逼真而精细的虚拟世界，借助各种工具促进人与人在游戏内的社会互动，进而突破其他传统大型网络游戏的设计模式。CCP于1997年成立于冰岛首都雷克雅维克，由私人投资者创立。CCP在雷克雅维克、亚特兰大、伦敦以及上海设有多个办公室。')}}
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.snda.com/"><img src="{{=url_for_static('images/sponsors/snda.png')}}" alt="{{=_('盛大网络')}}" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('作为领先的互动娱乐媒体企业，盛大网络通过盛大游戏、盛大文学、盛大在线等主体和其它业务，向广大用户提供多元化的互动娱乐内容和服务。盛大其他投资公司还提供网络视频、家庭棋牌平台、电子竞技平台、手机互动娱乐、网络动漫、网络音乐等在内的适合不同年龄层次用户群的互动娱乐产品，深受广大用户的欢迎。')}}
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.ijinshan.com/"><img src="{{=url_for_static('images/sponsors/jinshan.gif')}}" alt="{{=_('金山网络')}}" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('金山网络科技有限公司成立于2010年11月，总部位于北京，其前身是金山安全软件有限公司和可牛科技有限公司。两家公司于2010年10月完成合并整合，成立了全新的金山网络科技有限公司。金山网络科技有限公司继承了金山安全强大的研发实力和可牛科技对互联网产品的敏锐反应能力，为上亿互联网用户提供以安全为核心的多种互联网应用服务。金山安全实验室及金山网络研发中心设立在珠海。')}}
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.douban.com/"><img src="{{=url_for_static('images/sponsors/douban.gif')}}" alt="Douban" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('豆瓣成立于2005年3月，目前已拥有5,300多万注册用户。豆瓣一直致力于帮助都市人群发现生活中有用的事物，通过书影音、小组、小站、同城、豆瓣说等多产品及相关移动应用来服务都市生活的不同领域。')}}
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.sina.com.cn/"><img src="{{=url_for_static('images/sponsors/sina.gif')}}" alt="Sina" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('新浪是一家服务于中国及全球华人社群的在线媒体及移动增值服务提供商。新浪拥有多家地区性网站，以服务大中华地区与海外华人为己任，通过旗下业务主线：提供网络新闻及内容服务的新浪网(SINA.com)、提供微博客服务的微博(Weibo.com)、提供移动增值服务的新浪无线(SINA Mobile)，以及其他业务，向广大用户提供包括地区性门户网站、移动增值服务、微博、博客、影音流媒体、相册分享、网络游戏、电子邮件、搜索、分类信息、收费服务、电子商务和企业电子解决方案等在内的一系列服务。')}}
        </div>
    </div><!--END row-->

    <div class="row show-grid last">
        <div class="span-one-third"><img src="{{=url_for_static('images/sponsors/liubao.png')}}" alt="{{=_('遛宝')}}" width="230" /><br />
</div>
        <div class="span-two-thirds">
        {{=_('遛宝开源平台，不只是免费的虚拟主机，我们致力于通过领先科技，来释放我们所有关于 python 的梦想，次世代技术让曾经难以置信的应用类型在今天即可完美呈现。开放平台更可以让您无拘无束地进行创造，通过平台的各项接口以及源码，您可以轻易在平台上创作网站及应用，甚至改变平台本身。除此之外，遛宝开放的运营政策允许您在平台上经营您的产品，通过平台的运营功能，在为您的用户创造幸福的同时，实现自己的幸福。忠于实用之美，亦或乐于尝鲜新、奇、酷，开创一片新天地，就是遛宝开源平台。')}}
        </div>
    </div><!--END row-->

    <div class="row show-grid">
        <div class="span-one-third"><img src="{{=url_for_static('images/sponsors/xunpu.png')}}" alt="{{=_('湖州迅普')}}" width="250" /><br />
</div>
        <div class="span-two-thirds">
        {{=_('湖州迅普信息技术有限公司，是一家致力于技术研发的软件公司，和解决方案提供商。拥有领先的超高性能服务器技术，以及高性能智能数据库、游戏引擎等产品。并涉及人工智能、电子商务等领域。')}}
        </div>
    </div><!--END row-->

    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.ituring.com.cn"><img src="{{=url_for_static('images/sponsors/turingbook.gif')}}" alt="{{=_('图灵')}}" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('人民邮电出版社图灵公司—— 站在巨人的肩上，努力打造最专业的IT图书出版（写作/翻译）服务平台，期待与您合作！')}}
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.gensee.com/"><img src="{{=url_for_static('images/sponsors/gensee.png')}}" alt="{{=_('Gensee 展视互动')}}" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('Gensee展视互动是一家由国际著名风险投资机构所投资的高新技术企业；致力于运营世界领先的网络活动和虚拟会议平台；打破了传统虚拟行业的格局，首创混合传输模式，将音视频、PPT及互动内容同步呈现给观 众，更好的还原了现场的真实气氛，带来全新的体验。')}}
        </div>
    </div><!--END row-->

<h1>{{=_('媒体支持')}}</h1>
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.infoq.com/"><img src="{{=url_for_static('images/sponsors/infoq.gif')}}" alt="InfoQ" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('InfoQ.com（Information Queue）是一个时刻关注企业软件开发领域变化与创新的在线独立社区，读者受众群主要为技术架构师、技术团队带头人（高级开发人员）和项目经理等。通过由各个技术领域专家提供的最新的新闻、技术文章、视频访谈、视频演讲和迷你书等，InfoQ 为Java、.NET、Ruby、SOA、敏捷、架构和运维七大社区提供一流的资讯。InfoQ全球站正式启动于2006年6月8日，InfoQ中文站正式启动于2007年3月28日，以推动我们所服务的社区的进步为首要使命。')}}
        </div>
    </div><!--END row-->

    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.csdn.net/"><img src="{{=url_for_static('images/sponsors/csdn.gif')}}" alt="CSDN" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('CSDN创立于1999年，是中国最大的中文IT知识服务集团，专注IT信息传播、技术交流、教育培训和专业技术人才服务。拥有超过1800万注册会员、10000名CTO、50万注册企业及合作伙伴，全球中文网站排名第27位。长期以来，CSDN以技术视角关注IT产业发展，以深度分享推进产业技术成长，致力于弘扬技术创新，倡导分享、开放和协作，努力打造高质量的中文IT技术交流平台。')}}
        </div>
    </div><!--END row-->

    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://www.pycon.org/"><img src="{{=url_for_static('images/sponsors/pycon.gif')}}" alt="PyCon" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('PyCon.Org是举办Python语言的国际性社区，在世界各地举办Python大会，是Python 爱好者的盛会，对推动Python在各地的发展有深远的影响。')}}
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://gtugs.org/"><img src="{{=url_for_static('images/sponsors/gtug.gif')}}" alt="Google Technology User Groups" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('在每个主要城市，包括北京、上海、广州、杭州、西安、深圳、南阳等地，都有由自愿者组成的谷歌开发者社区 GTUG （Google Technology User Group）。 GTUG 是所有对 Google 开发技术和产品、互联网技术、移动技术、开源代码等开发技术和应用开发感兴趣的人组成的社区。他们常常组织线下交流活动。我们鼓励你参加当地的 GTUG 社区，认识更多的志同道合的开发者，互相学习和交流。')}} 
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://python.cn/"><img src="{{=url_for_static('images/sponsors/cpyug.gif')}}" alt="{{=_('Python 中文社区')}}" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('CPUG是中国第一个正式成立的Python用户的民间组织，在广大Python爱好者的推动下为宣传和发展Python而成立的。 现在CPUG提供 Python相关的资源和服务，有兴趣可以加入我们并使用我们的服务。我们接受各种支持和赞助，同时也愿意与您合作，一同致力于Python的发展。')}}
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://topgeek.org/"><img src="{{=url_for_static('images/sponsors/topgeek.gif')}}" alt="TopGeek" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('TopGeek组织是一个面向高级软件和互联网技术人员的组织，主要讨论软件和互联网的一些新的技术潮流，开发理念和经验。')}}<br /><br />
{{=_('在现在技术山头林立，以语言或行业划分圈子的社区组织状态下，我们坚持认为，按技术流派形成圈子的做法不能满足高级技术人员需要。')}}<br /><br />
{{=_('我们希望打破技术分割，帮助社区人员开拓思路，互相学习，资源共享。解决一些成熟技术人员进一步发展的共同问题，形成一些好的朋友圈子。')}}
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="http://woodpecker.org.cn/"><img src="{{=url_for_static('images/sponsors/woodpecker.gif')}}" alt="Woodpecker.org.cn {{=_('啄木鸟社区')}}" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('Woodpecker.org.cn 是一个开放协作组织，关注Python语言的各种应用和发展。')}}
        </div>
    </div><!--END row-->
    
    <div class="row show-grid">
        <div class="span-one-third"><a target="_blank" href="mailto:CPUG@googlegroups.com"><img src="{{=url_for_static('images/sponsors/google_groups.gif')}}" alt="{{=_('Google 网上论坛')}}" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('CPUG的Google Group。')}}
        </div>
    </div><!--END row-->
    
    <div class="row show-grid last">
        <div class="span-one-third"><a target="_blank" href="http://www.gensee.com/"><img src="{{=url_for_static('images/sponsors/gensee-cloud.gif')}}" alt="{{=_('Gensee 展视互动云会议')}}" width="250" /></a><br />
</div>
        <div class="span-two-thirds">
        {{=_('Gensee展视互动是一家由国际著名风险投资机构所投资的高新技术企业；致力于运营世界领先的网络活动和虚拟会议平台；打破了传统虚拟行业的格局，首创混合传输模式，将音视频、PPT及互动内容同步呈现给观 众，更好的还原了现场的真实气氛，带来全新的体验。')}}<br />
        {{=_('Gensee是本次大会网络直播服务的提供商。')}}
        </div>
    </div><!--END row-->
{{end}}
