{{extend "bootstrap_layout.html"}}

{{block meta}}
<script type="text/javascript" src="{{=url_for_static('js/venue.js')}}"></script>
{{end}}

{{block content}}
<h1>会场交通</h1>
<h2>场馆位置：</h2>
    <div class="row show-grid">
        <div class="span8">
            <iframe width="425" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/place?q=%E4%B8%AD%E5%9B%BD%E4%B8%8A%E6%B5%B7%E5%B8%82%E4%B8%8A%E6%B5%B7%E6%9D%A8%E6%B5%A6%E5%8C%BA%E6%B7%9E%E6%B2%AA%E8%B7%AF%E5%88%9B%E6%99%BA%E5%A4%A9%E5%9C%B0&hl=zh-CN&ie=UTF8&cid=9959412972690922407"
        <div>从&nbsp;<input type="text" />&nbsp;<input class="btn" type="button" value="公交" />&nbsp;<input class="btn" type="button" value="驾车" />&nbsp;前往会场</div>
            <p><strong>大会地点：</strong>上海杨浦区创智天地多功能厅</p>
            <p><strong>地铁：</strong>十号线五角场站，步行五分钟即到</p>
            <p><strong>自驾：</strong>园区内设有停车位</p>
        </div><!--END span8-->
{{end}}
