{{extend "bootstrap_layout.html"}}

{{block meta}}
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/volunteer.css')}}" />
{{end}}

{{block content}}
<h1>志愿者</h1>
<h3>PyCon大会的召开离不开志愿者们的共同努力，同时，如果您愿意加入志愿者的队伍，请与PyCon组委会(邮件:stingchen@topgeek.org)联系。志愿者可以免除一部分参会费用，并且在大会官网的“志愿者”页面展示个人照片及简介。</h3><br />

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://bopor.com/"><img src="{{=url_for_static('images/volunteer/chenshixin.jpg')}}" alt="StingChen（陈世欣）" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>StingChen（陈世欣）</h4>
        <p>上海交大计算机系硕士 现为创业公司2Style4You.Com的CTO 个人博客 <a target="_blank" href="http://bopor.com/">bopor.com</a> 微博 <a target="_blank" href="http://weibo/stingchen">http://t.sina.com.cn/stingchen</a></p>
        <p>从2006年起参加和组织社区，曾组织过python聚会，参与组织过google技术社区GTUG，ThinkinLAMP社区，参加过30多次各类社区。并成功组织了上海最大的产品经理社区PMCamp(微博<a target="_blank" href="http://t.sina.com.cn/pmcamp">http://t.sina.com.cn/pmcamp</a>，博客 <a target="_blank" href="http://pmcamp.org">http://pmcamp.org</a>)</p>
        <p><strong>StingChen的博客地址：</strong><a target="_blank" href="http://bopor.com/">http://bopor.com/</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://blog.sina.com.cn/pyhunterpig"><img src="{{=url_for_static('images/volunteer/zhixiaoyong.jpg')}}" alt="HunterPig（支晓勇）" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>HunterPig（支晓勇）</h4>
        <p>36岁, 天蝎男, 91office.com, IT总监</p>
        <p>在anjia.com干了5年写VB和ASP，在91office.com干到现在也5年了，从ASP变成Python程序员。现在喜欢开源和自由软件，在上海的开源和Python社区算个活跃分子。</p>
        <p>现居 : 上海 闸北区</p>
        <p>家乡 : 上海 青浦区</p>
        <p><strong>HunterPig的博客地址：</strong><a target="_blank" href="http://blog.sina.com.cn/pyhunterpig">http://blog.sina.com.cn/pyhunterpig</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://www.idndx.com/"><img src="{{=url_for_static('images/volunteer/sundatong.jpg')}}" alt="(Dndx)孙大同" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>Dndx（孙大同）</h4>
        <p>Dndx出生于1994年8月，是个彻彻底地的90后。</p>
        <p>Dndx完全凭借着自己的兴趣自学计算机，对 Python, Linux, High Performance Web Server(nginx&amp;lighttpd), HTML5, Web2.0, Ajax, JQuery 都有过研究，自己也独立开发过几个网站。没事的时候Dndx也会玩一玩单反，过一过"败家"瘾。</p>
        <p>目前Dndx负责了大会官网的前台设计及网站运维工作，如果对官网有任何建议，您可以直接与Dndx联系，Dndx的更多介绍以及联系方式可以在他的博客上找到。</p>
        <p><strong>Dndx的博客地址：</strong><a target="_blank" href="http://www.idndx.com/">http://www.idndx.com/</a></p>
    </div><!--END span-->
</div><!--END row-->


<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://lvguoning.com/"><img src="{{=url_for_static('images/volunteer/lvguoning.png')}}" alt="Daniel Lv（吕国宁）" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>Daniel Lv（吕国宁）</h4>
        <p>28岁的Ruby程序员，专职Ruby on Rails以及Web应用领域开发，出生于新疆乌鲁木齐，目前在上海工作。是shanghaionrails的组织者之一。好读书，喜研究算法，函数式语言等有趣的东西。 </p>
        <p>本次PyCon大会的主持人。</p>
        <p><strong>Daniel Lv的博客地址：</strong><a target="_blank" href="http://lvguoning.com/">http://lvguoning.com/</a></p>
    </div><!--END span-->
</div><!--END row-->
{{end}}