{{extend "bootstrap_layout.html"}}

{{block meta}}
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/volunteer.css')}}" />
{{end}}

{{block content}}
<h1>{{=_('志愿者')}}</h1>
<h3>{{=_('PyCon大会的召开离不开志愿者们的共同努力，同时，如果您愿意加入志愿者的队伍，请与PyCon组委会(邮件:stingchen@topgeek.org)联系。志愿者可以免除一部分参会费用，并且在大会官网的“志愿者”页面展示个人照片及简介。')}}</h3><br />

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://bopor.com/"><img src="{{=url_for_static('images/volunteer/chenshixin.jpg')}}" alt="{{=_('StingChen（陈世欣）')}}" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>{{=_('StingChen（陈世欣）')}}</h4>
        <p>{{=_('上海交大计算机系硕士 现为创业公司2Style4You.Com的CTO')}} {{=_('个人博客')}} <a target="_blank" href="http://bopor.com/">bopor.com</a> {{=_('微博')}} <a target="_blank" href="http://weibo/stingchen">http://t.sina.com.cn/stingchen</a></p>
        <p>{{=_('从2006年起参加和组织社区，曾组织过python聚会，参与组织过google技术社区GTUG，ThinkinLAMP社区，参加过30多次各类社区。并成功组织了上海最大的产品经理社区PMCamp')}}({{=_('微博')}}<a target="_blank" href="http://t.sina.com.cn/pmcamp">http://t.sina.com.cn/pmcamp</a>，{{=_('博客')}} <a target="_blank" href="http://pmcamp.org">http://pmcamp.org</a>)</p>
        <p><strong>{{=_('StingChen的博客地址')}}：</strong><a target="_blank" href="http://bopor.com/">http://bopor.com/</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://blog.sina.com.cn/pyhunterpig"><img src="{{=url_for_static('images/volunteer/zhixiaoyong.jpg')}}" alt="{{=_('HunterPig（支晓勇）')}}" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>{{=_('HunterPig（支晓勇）')}}</h4>
        <p>{{=_('36岁, 天蝎男, 91office.com, IT总监')}}</p>
        <p>{{=_('在anjia.com干了5年写VB和ASP，在91office.com干到现在也5年了，从ASP变成Python程序员。现在喜欢开源和自由软件，在上海的开源和Python社区算个活跃分子。')}}</p>
        <p>{{=_('现居 : 上海 闸北区')}}</p>
        <p>{{=_('家乡 : 上海 青浦区')}}</p>
        <p><strong>{{=_('HunterPig的博客地址')}}：</strong><a target="_blank" href="http://blog.sina.com.cn/pyhunterpig">http://blog.sina.com.cn/pyhunterpig</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://www.idndx.com/"><img src="{{=url_for_static('images/volunteer/sundatong.jpg')}}" alt="{{=_('(Dndx)孙大同')}}" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>{{=_('Dndx（孙大同）')}}</h4>
        <p>{{=_('Dndx出生于1994年8月，是个彻彻底地的90后。')}}</p>
        <p>{{=_('Dndx完全凭借着自己的兴趣自学计算机，对 Python, Linux, High Performance Web Server(nginx&amp;lighttpd), HTML5, Web2.0, Ajax, JQuery 都有过研究，自己也独立开发过几个网站。没事的时候Dndx也会玩一玩单反，过一过"败家"瘾。')}}</p>
        <p>{{=_('目前Dndx负责了大会官网的前台设计及网站运维工作，如果对官网有任何建议，您可以直接与Dndx联系，Dndx的更多介绍以及联系方式可以在他的博客上找到。')}}</p>
        <p><strong>{{=_('Dndx的博客地址')}}：</strong><a target="_blank" href="http://www.idndx.com/">http://www.idndx.com/</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://blog.zoomquiet.org/"><img src="{{=url_for_static('images/volunteer/zhouqi.png')}}" alt="{{=_('Zoom.Quiet （周琦）')}}" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>{{=_('Zoom.Quiet （周琦）')}}</h4>
        <p>{{=_('Python 中文社区创始人 / 管理员，热心于python社区的公益事业，大家熟知的社区"大妈"；OBP及蟒营工程设计者 /主持人；参与并主持各种线上 / 线下活动，主持编撰了《可爱的Python》；坚持用 Pythonic 感化国人进入 FLOSS世界进行学习 / 分享 / 创造！目前就职于金山软件。')}}</p>
        <p><strong>{{=_('Zoom.Quiet的博客地址')}}：</strong><a target="_blank" href="http://blog.zoomquiet.org/">http://blog.zoomquiet.org/</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://eishn.blog.163.com/"><img src="{{=url_for_static('images/volunteer/shenwai.jpg')}}" alt="{{=_('eishn（沈崴）')}}" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>{{=_('eishn（沈崴）')}}</h4>
        <p>{{=_('资深 python 开发者，高效能服务器 eurasia 的作者。湖州迅普信息技术有限公司创始人，广州遛宝计算机技术有限公司联合创始人、技术总监。')}}</p>
        <p>{{=_('本次大会赞助者之一。')}}</p>
        <p><strong>{{=_('eishn的博客地址')}}：</strong><a target="_blank" href="http://eishn.blog.163.com/">http://eishn.blog.163.com/</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://gang.lu/"><img src="{{=url_for_static('images/volunteer/lugang.jpg')}}" alt="{{=_('Dr. Gang LU（卢刚）')}}" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>{{=_('Dr. Gang LU（卢刚）')}}</h4>
        <p>{{=_('动点科技TechNode.com(原动点博客MOBINODE.com)创始人和主编，亚洲互联网活动家和观察者，英国谢菲尔德大学无线通信技术博士, OpenWeb.Asia Workgroup的联合创始人，趣奇网联合创始人。')}}</p>
        <p>{{=_('动点科技为国内知名的中英文双语科技博客，致力于研究和报道中国及亚洲互联网的最新进展，长期关注亚洲互联网的成长与创新，已经成为国外了解中国互联网动态的必读信息。OpenWeb.Asia是亚洲互联网第一个独立的工作组和行业资源共享平台，其主办的OpenWebAsia亚洲互联网会议是目前唯一切实关注亚洲互联网行业的国际性会议。基于自身在无线通讯、移动网络和web2.0领域资深的学术和技术背景和丰富的市场商务经验，卢刚先生一直致力于促进亚 洲互联网与全球市场的连通，积极推动互联网的开放共享及行业交流。卢刚先生此前就职于Netvibes.com，担任其亚洲市场总监工作。Netvibes是国际互联网领域最具创新意义的公司之一，卢刚先生全面负责其在亚洲地区的市场开发和商务拓展，将全球领先的个性化主页服务，开放平台及Widget经济带入亚洲特别是中国市场。2008年1月, 他代表Netvibes和搜狐建立战略合作推出了中国互联网第一个开放平台。他还曾经作为研发工程师，就职于英国Dialogue Communications Ltd.公司，从事3G应用方面的研究和开发。目前卢刚博士担任多个新兴公司和项目的顾问工作，其中包括齐放网，其作为第一家中国互联网企业荣获世界经济论坛评选的2009年世界科技先锋奖。卢刚也是ChinaMode中文互联网开放评选的发起人之一。')}}</p>
        <p>{{=_('卢刚作为独立的互联网行业观察者在业界享有很好的口碑，他关注的范围广泛，包括互联网开放技术,商业模式,社会化媒体,互联网营销,亚洲互联网发展等。他曾受邀出席SXSW科技峰会，主持腾讯智慧高峰会议SNS营销论坛，作为讲师参加2009谷歌开发者大会演讲，受法国参议院邀请参加其组织的NetExplorateur Forum盛会，赴米兰参加米兰国际数字娱乐节等等。其MOBINODE曾被评为2007和2008年中国最佳技术性英文博客。同时他还曾担任国际知名的Web2.0技术性博客ReadWriteWeb.com的特邀编辑。')}}</p>
        <p><strong>{{=_('Dr. Gang LU的博客地址')}}：</strong><a target="_blank" href="http://gang.lu/">http://gang.lu/</a></p>
        <p><strong>{{=_('动点科技')}}：</strong><a target="_blank" href="http://www.technode.com">http://www.technode.com (EN)</a> | <a target="_blank" href="http://cn.technode.com">http://cn.technode.com (CN)</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://riku.wowubuntu.com/"><img src="{{=url_for_static('images/volunteer/luweifeng.jpg')}}" alt="{{=_('riku（陆卫锋）')}}" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>{{=_('riku（陆卫锋）')}}</h4>
        <p>{{=_('知名tech blogger陆卫锋，关注新网络，ubuntu/Linux 用户，爱好设计。')}}</p>
        <p>{{=_('riku为本次大会官网设计了一个极富动感并充满中国特色的Logo。')}}</p>
        <p><strong>{{=_('riku的博客地址')}}：</strong><a target="_blank" href="http://riku.wowubuntu.com/">http://riku.wowubuntu.com/</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://lvguoning.com/"><img src="{{=url_for_static('images/volunteer/lvguoning.png')}}" alt="{{=_('Daniel Lv（吕国宁）')}}" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>{{=_('Daniel Lv（吕国宁）')}}</h4>
        <p>{{=_('28岁的Ruby程序员，专职Ruby on Rails以及Web应用领域开发，出生于新疆乌鲁木齐，目前在上海工作。是shanghaionrails的组织者之一。好读书，喜研究算法，函数式语言等有趣的东西。 ')}}</p>
        <p>{{=_('本次PyCon大会的主持人。')}}</p>
        <p><strong>{{=_('Daniel Lv的博客地址')}}：</strong><a target="_blank" href="http://lvguoning.com/">http://lvguoning.com/</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank" href="http://aegiryy.net/"><img src="{{=url_for_static('images/volunteer/gexinyang.jpg')}}" alt="{{=_('aegiryy（葛馨阳）')}}" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>{{=_('aegiryy（葛馨阳）')}}</h4>
        <p>{{=_('南京大学大四学生。爱好广泛，从 Python 编程到 Hack Python 源代码；从 Web 应用开发到嵌入式实时系统移植都具有浓厚兴趣。热爱一切技术与非技术的东西。')}}</p>
        <p>{{=_('本次PyCon大会的翻译志愿者。')}}</p>
        <p><strong>{{=_('aegiryy的博客地址')}}：</strong><a target="_blank" href="http://aegiryy.net/">http://aegiryy.net/</a></p>
    </div><!--END span-->
</div><!--END row-->

<div class="row show-grid">
    <div class="span-one-third"><a target="_blank"><img src="{{=url_for_static('images/volunteer/caoyiling.jpg')}}" alt="{{=_('Yiling Cao（曹一凌）')}}" width="200" /></a><br />
    </div><!--END span-->
    <div class="span-two-thirds">
        <h4>{{=_('Yiling Cao（曹一凌）')}}</h4>
        <p>{{=_('Ruby，Python，C开发者，澳大利亚墨尔本大学计算机系毕业，曾担任web 开发，硬件工程师，系统运维。感兴趣于：图像处理，计算机视觉，大规模信息处理，VOIP系统。')}}</p>
        <p>{{=_('本次PyCon大会的翻译志愿者。')}}</p>
    </div><!--END span-->
</div><!--END row-->
{{end}}