{{extend "bootstrap_layout.html"}}
{{block content}}
<h1>关于大会</h1>

<div class="row show-grid">
    <div class="span5">
        <img class="pull-right" style="margin-right:20px;" src="{{=url_for_static('images/PyConChina.png')}}" alt="PyCon China 2011 Logo" /></div><!--END span-->
    <div class="span11">
        <p>世界ios爱好者的盛会iOSCon首次在中国举办，本次大会由GTUG， TopGeek，CPyUG联合举办。</p>
        <p>iOSCon.Org是举办ios的国际性社区，在世界各地举办ios大会，是ios爱好者的盛会，对推动ios在各地的发展有深远的影响</p>
        <p>全球PyCon会议包括：</p>
        

<h2>关于主办方</h2>
    <h4>Tiny4Cocoa</h4>
    <p>Tiny4Cocoa开发者网站是围绕iOS开发的各个话题的论坛。网站：Tiny4Cocoa.com</p>
    <h4>Cocoa开发者沙龙</h4>
    <p style="border-bottom:1px solid #EEEEEE;">是一个每月定期举行的开发者交流会，每月就一到两个话题展开讨论，分享和交流 iOS / Mac 开发中的先进技术和经验，活动方式是每月一次30-50人的沙龙型活动，讲座和自由讨论相结合，每年组织两到三次的大会。</p>

<div class="row show-grid">
        <div class="span8">
        <h4>移动新观察</h4>
        <p>是一个关注无线互联网新技术和投资/创业的跨行业媒体交流平台。亦在提供一个跨越开发者、开发商和风险投资(TMT)行业的社区交流平台，通过此平台来促进TMT新兴产业的全面发展。移动新观察线下交流论坛是个开放的高端社交平台，主要针对来自投资、咨询、移动互联网、智能手机、信息技术、电信、互联网、软件开发商等领域的资深专业人士。 网站：www.MobileTMT.com</p>
    </div><!--END span8-->
    <div class="span8">
        <h4>珠三角技术沙龙（TechParty）</h4>
        <p>是打造泛珠三角技术圈线上线下交流平台;沙龙以核心城市为基点,每月组织一到三次线下技术交流,关注各种技术领域,拥有广泛的技术社区背景,口号:"是你的沙龙!"网站: TechParty.org</p>
    </div><!--END span8-->
</div><!--END row-->

<div class="row show-grid">
        <div class="span8">
        <h4>杭州GTUG</h4>
        <p>是由来自杭州及周边地区的广大互联网开发爱好者、创业者、支持开源代码和自由软件，以及各种新技术的开发者和爱好者组成的非盈利性的技术交流组织。该组织的目标是促进技术交流与共享及可能的创业和商业机会。</p>
    </div><!--END span8-->
    <div class="span8">
        <h4>Demo咖啡</h4>
        <p>是武汉首家立足科技领域的主题咖啡馆，由一伙资深IT人联合发起。自由、平等、分享是主旨精神，人脉、提升、机会是核心价值，科技青年最In的社交平台。</p>
    </div><!--END span8-->
</div><!--END row-->

<div class="row show-grid">
        <div class="span8">
        <h4>顶尖极客沙龙(TopGeek)</h4>
        <p>是面向技术极客的组织，定期举办线下活动，讨论软件和互联网的一些新的技术潮流，开发理念和经验。
这个组织不以语言或行业划分圈子，打破技术分割，开拓大家思路，促进互相学习，实现资源共享。解决一些成熟技术人员进一步发展的共同问题，促进交流和发展。口号："一日为极客，终身为极客！"</p>
    </div><!--END span8-->
    <div class="span8">
        <h4>TopGeek组织的特点</h4>
        <ol>
            <li>线下活动为主，与会人员和主题不分程序开发语言、不分开源还是商业软件，不分终端是PC还是手机。提倡跨界交流。</li>
            <li>以高级技术人员为主，活动中鼓励频繁沟通，对问题的深入探究。</li>
            <li>在研究主流技术趋势、新机会的同时，也给予小众的技术流派足够关注。</li>
        </ol>
    </div><!--END span8-->
</div><!--END row-->
<div class="row show-grid">
    <div class="span8">
        <h4>关于TopGeek</h4>
        <p><strong>组织博客：</strong><a target="_blank" href="http://topgeek.org">http://topgeek.org/</a></p>
        <p><strong>新浪微博：</strong><a target="_blank" href="http://weibo/topgeek">http://weibo/topgeek</a></p>
        <p><strong>组织者：</strong>陈世欣（2Style4You CTO），李锟（上海鹏图信息技术有限公司CTO），吕国宁（Intridea资深工程师），罗小能（2Style4You工程师），支晓勇（91Office技术总监）</p>
    </div><!--END span8-->
    <div class="span8">
        <h4>TopGeek社区组织的历次活动</h4>
        <ul>
            <li>TopGeek1，报道请看<a target="_blank" href="http://topgeek.org/?p=129">http://topgeek.org/?p=129</a></li>
            <li>TopGeek2，报道请看<a target="_blank" href="http://topgeek.org/?p=129">http://topgeek.org/?p=167</a></li>
            <li>TopGeek3，报道请看<a target="_blank" href="http://topgeek.org/?p=129">http://topgeek.org/?p=209</a></li>
            <li>TopGeek4，报道请看<a target="_blank" href="http://topgeek.org/?p=129">http://topgeek.org/?p=243</a></li>
            <li>TopGeek5，报道请看<a target="_blank" href="http://topgeek.org/?p=129">http://topgeek.org/?p=264</a></li>
        </ul>
    </div><!--END span8-->
</div><!--END row-->
{{end}}
