{{extend "bootstrap_layout.html"}}

{{block content}}
<h1>报名注册</h1>

<p><span class="bold">大会时间：</span>2012年3月25日 9:30-18:00</p>
 
<p><span class="bold">大会地点：</span>上海杨浦区创智天地多功能厅</p>
  
<p><span class="bold">与会人数：</span>300人</p>
 
<p><span class="bold">参会人员：</span>对iOS技术痴迷的果粉，iOS开发人员，iOS初学者和对iOS感兴趣的人。</p>
 
<p><span class="bold">参会费用：60元/人</span></p>

<p>（总费用原价为<span class="bold">210元/人</span>，包括：午餐费<span class="bold">30元</span>，礼品费<span class="bold">10元</span>，会费<span class="bold">130元</span>，其中赞助商为每位参会者提供的支持费用为：<span class="bold">150元/人</span>，参会者实际缴纳费用为<span class="bold">60元/人</span>。）</p>

<a class="btn large primary" href="http://pycon.51qiangzuo.com/" target="_blank">前往报名交费页面 &raquo;</a>
<br /><br />

<p>由于赞助费有限，仅能解决会场、嘉宾交通住宿和餐饮、组织宣传、参会者礼品等费用，需要参会者支付部分午餐费用。</p>
<p class="bold">报名并成功支付后将在大会前收到邮件通知，会场有电子签到确认报名情况。</p>
<p>如果有确实对缴纳参会费用有困难或者有异议的朋友，可以联系iOSCon组委会(邮件:stingchen@topgeek.org)申请减免。组委会可以考虑通过安排作为志愿者参与组织工作来予以减免，但名额有限。</p>

<h2>报名后的门票和晚宴说明：</h2>
<br />
<ol>
    <li>报名并成功支付后将收到邮件通知。在大会前还有会议通知。</li>
    <li>会场有电子签到确认报名情况。</li>
    <li>报名与嘉宾吃饭，则会在会议过程中由工作人员确认。在晚餐后按实际消费情况付费。</li>
</ol>

{{end}}
