/*
    Styles for PyCon China Offical Website
    Author: Datong Sun (Dndx)
    Blog: idndx.com
    Version: 2011.10.26
*/
@charset "utf-8";
td.date{white-space:nowrap; vertical-align:middle; font-weight:bold; border-right:1px solid #DDD;}
td.desc{white-space:nowrap; cursor:pointer; text-decoration:underline;}
.popover .inner{width:400px;}
.popover .inner img{width:100px; float:left; margin-right:1em;}
.break td{background-color:#FFAE5E !important;}
