{{extend "bootstrap_layout.html"}}

{{block meta}}
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/index.css')}}" />
<script type="text/javascript" src="{{=url_for_static('js/QTransform.js')}}"></script>
<script type="text/javascript" src="{{=url_for_static('js/bootstrap-twipsy.js')}}"></script>
<script type="text/javascript" src="{{=url_for_static('js/bootstrap-popover.js')}}"></script>
<script type="text/javascript" src="{{=url_for_static('js/index.js')}}"></script>
{{end}}

{{block content}}
    <div class="hero-unit">
        <div id="content">
            <div class="hero-content" id="first-hero">
                <div class="row show-grid">
                    <div class="span-one-third" style="width:200px;">
                        <img src="{{=url_for_static('images/PyConChina.png')}}" alt="PyCon China 2011 Logo" />
                    </div>
                    <div class="span-two-thirds" style="width:600px; text-align:right;">
                        <h1 style="border:none; padding-bottom:0;">PyCon China 2011</h1><h1>Is Here!</h1>
                        <p>Dec 3, 2011 - Dec 4, 2011 9:30 AM - 6:00 PM</p>
                        <p>Shanghai, China</p>
                        <p>Total number of seats: 300</p>
                        <p>Seats still available.</p>
                    </div>
                    <br />
                    <p style="text-align:right;"><a class="btn primary large" href="/2011/registration ">立即报名！ &raquo;</a></p>
                </div><!--END grid-->
            </div><!--END hero-content-->
            
            <div class="hero-content" id="second-hero">
                <div class="row show-grid">
                    <div class="span-one-third" style="width:200px;">
                        <img src="{{=url_for_static('images/heroes/bambook.png')}}" alt="SNDA Bambook" />
                    </div>
                    <div class="span-two-thirds" style="width:600px; text-align:right;">
                        <h2>在今年的大会中</h2>
                        <h2>我们会抽出1台Bambook</h2>
                        <h2>作为参会者的奖品</h2>
                        <p>人人都有机会，只要您已经注册</p>
                        <p>还没有注册？点击下面的按钮立即前往注册页面。</p>
                    </div>
                    <br />
                    <p style="text-align:right;"><a class="btn primary large" href="/2011/registration ">立即报名！ &raquo;</a></p>
                </div><!--END grid-->
            </div><!--END hero-content-->
            
            <div class="hero-content" id="third-hero">
                <div class="row show-grid">
                    <div class="span4" style="text-align:center;">
                        <img src="{{=url_for_static('images/heroes/guido.jpg')}}" width="250" alt="Guido van Rossum" />
                        <strong>Guido van Rossum</strong>
                    </div>
                    <div class="span11" style="text-align:right; width:550px;">
                        <p><strong>Christmas, 1989: </strong>Python was invented by<br/> Guido van Rossum.</p>
                        <img src="{{=url_for_static('images/heroes/Python-old.png')}}" width="150" alt="Python old Logo" />
                        <p><strong>January, 1994: </strong>Python 1.0 Released.</p>
                        <p><strong>September 5, 2000: </strong>Python 1.6 Released.</p>
                        <p><strong>October 16, 2000: </strong>Python 2.0 Released.</p>
                        <img src="{{=url_for_static('images/heroes/Python-new.gif')}}" width="150" alt="Python new Logo" />
                        <p><strong>December 3, 2008: </strong>Python 3.0 Released.</p>
                        <p>......</p>
                    </div>
                </div><!--END grid-->
            </div><!--END hero-content-->
            
            <div class="hero-content" id="forth-hero">
                <div class="row show-grid">
                    <div class="span-one-third" style="text-align:center;">
                        <h1 style="border:none; margin-left:10px;">Follow US on</h1>
                        <img style="margin-top:50px;" src="http://img.t.sinajs.cn/t4/style/images/staticlogo/download/Brand_Group/PNG/Cn_En_Group/Sina_Weibo_Logo_RGB_C_E.png" width="250" alt="Sina Weibo Logo" />
                    </div>
                    <div class="span8" style="text-align:right;">
                        <iframe width="350" height="310" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&amp;width=350&amp;height=310&amp;fansRow=2&amp;ptype=1&amp;speed=0&amp;skin=1&amp;isTitle=1&amp;noborder=1&amp;isWeibo=1&amp;isFans=0&amp;uid=2464646734&amp;verifier=aad42972"></iframe>
                    </div>
                </div><!--END grid-->
            </div><!--END hero-content-->
            
            <!--NEW hero insert here-->
        </div><!--END content-->
        <div class="row show-grid" id="hero-selector">
            <div class="span1" id="first">1</div>
            <div class="span1" id="second">2</div>
            <div class="span1" id="third">3</div>
            <div class="span1" id="forth">4</div>
        </div><!-- END row-->
    </div><!-- END hero-unit-->
    
    <div class="row show-grid underhero">
        <div class="span3"><h2 style="margin-top:10px;">大会赞助商</h2></div>
        <div class="span3"><a target="_blank" href="http://www.google.com/"><img src="{{=url_for_static('images/sponsors/google.png')}}" alt="Google" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://www.tudou.com/"><img style="margin-top:10px;" src="{{=url_for_static('images/sponsors/tudou.png')}}" alt="Tudou" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://www.ccpgames.com/zh/home"><img src="{{=url_for_static('images/sponsors/ccp.gif')}}" alt="CCPGames" width="120" /></a></div>
        <div class="span3"><a target="_blank" href="http://www.snda.com/"><img src="{{=url_for_static('images/sponsors/snda.png')}}" alt="盛大网络" width="150" /></a></div>
    </div><!--END grid-->
    <div class="row show-grid underhero">
        <div class="span3">&nbsp;</div>
        <div class="span3"><a target="_blank" href="http://www.ijinshan.com/"><img style="margin-top:10px;" src="{{=url_for_static('images/sponsors/jinshan.gif')}}" alt="金山网络" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://www.douban.com/"><img style="margin-top:20px;" src="{{=url_for_static('images/sponsors/douban.gif')}}" alt="Douban" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://www.sina.com.cn/"><img src="{{=url_for_static('images/sponsors/sina.gif')}}" alt="Sina" width="150" /></a></div>
        <div class="span3"><img src="{{=url_for_static('images/sponsors/xunpu.png')}}" alt="湖州迅普" width="150" /></div>
    </div><!--END grid-->
    <div class="row show-grid underhero">
        <div class="span3">&nbsp;</div>
        <div class="span3"><img src="{{=url_for_static('images/sponsors/liubao.png')}}" alt="遛宝" width="150" /></div>
        <div class="span3"><a target="_blank" href="http://www.ituring.com.cn"><img style="margin-top:40px;" src="{{=url_for_static('images/sponsors/turingbook.gif')}}" alt="图灵" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://www.gensee.com/"><img style="margin-top:20px;" src="{{=url_for_static('images/sponsors/gensee.png')}}" alt="Gensee 展视互动" width="150" /></a></div>
        <div class="span3"></div>
        <div class="span3"></div>
    </div><!--END grid-->
    
    <h2 style="margin-top:10px; display:inline-block; border:none;">演讲嘉宾</h2><small>&nbsp;&nbsp;<a href="/2011/schedule">查看详细演讲内容及日程安排 &raquo;</a></small>
    <div class="row show-grid underhero speakers">
        <div class="span8">
            <img src="{{=url_for_static('images/speakers/chenshixin.jpg')}}" alt="陈世欣" />
        </div>
        <div class="span8">
            <img src="{{=url_for_static('images/speakers/shenwai.jpg')}}" alt="沈崴" />
        </div>
    </div><!--END row-->
    
    <div class="row show-grid underhero speakers">
        <div class="span8">
            <img src="{{=url_for_static('images/speakers/linwei.jpg')}}" alt="林伟" />
        </div>
        <div class="span8">
            <img src="{{=url_for_static('images/speakers/hongqiangning.jpg')}}" alt="洪强宁" />
        </div>
    </div><!--END row-->
    
    <div class="row show-grid underhero speakers">
        <div class="span8">
            <img src="{{=url_for_static('images/speakers/damienhou.jpg')}}" alt="Damien Hou" />
        </div>
        <div class="span8">
            <img src="{{=url_for_static('images/speakers/panjunyong.jpg')}}" alt="潘俊勇" />
        </div>
    </div><!--END row-->
    
    <div class="row show-grid underhero">
        <div class="span3"><h2 style="margin-top:10px;">媒体支持</h2></div>
        <div class="span3"><a target="_blank" href="http://www.infoq.com/"><img src="{{=url_for_static('images/sponsors/infoq.gif')}}" alt="InfoQ" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://www.csdn.net/"><img src="{{=url_for_static('images/sponsors/csdn.gif')}}" alt="CSDN" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://www.pycon.org/"><img src="{{=url_for_static('images/sponsors/pycon.gif')}}" alt="PyCon" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://gtugs.org/"><img src="{{=url_for_static('images/sponsors/gtug.gif')}}" alt="Google Technology User Groups" width="150" /></a></div>
    </div><!--END grid-->
    <div class="row show-grid underhero">
        <div class="span3">&nbsp;</div>
        <div class="span3"><a target="_blank" href="http://python.cn/"><img src="{{=url_for_static('images/sponsors/cpyug.gif')}}" alt="Python 中文社区" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://topgeek.org/"><img src="{{=url_for_static('images/sponsors/topgeek.gif')}}" alt="TopGeek" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://woodpecker.org.cn/"><img src="{{=url_for_static('images/sponsors/woodpecker.gif')}}" alt="Woodpecker.org.cn 啄木鸟社区" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="mailto:CPUG@googlegroups.com"><img src="{{=url_for_static('images/sponsors/google_groups.gif')}}" alt="Google 网上论坛" width="150" /></a></div>
    </div><!--END grid-->
    <div class="row show-grid underhero">
        <div class="span3">&nbsp;</div>
        <div class="span3"><a target="_blank" href="http://www.gensee.com/"><img src="{{=url_for_static('images/sponsors/gensee-cloud.gif')}}" alt="Gensee 展视互动云会议" width="150" /></a></div>
        <div class="span3"></div>
        <div class="span3"></div>
        <div class="span3"></div>
    </div><!--END grid-->
    
    <div class="row">
        <div class="span6">
          <h2>演讲日程</h2>
          <ol>
              <li class="has_sub_schedule">主题演讲&darr;
                  <ul class="sub_schedule">
                      <li>主办方和赞助者介绍</li>
                      <li>大会致辞《ios让世界更精彩》- 陈世欣</li>
                      <li>《iOS平台开发者的机遇和挑战》- 郝培强</li>
                      <li>《移动产品可用性设计》 - 杨武</li>
                      <li>《移动应用开发的技术路线选择》 - 李亮</li>
                      <li>《移动产品设计》 - 端木恒</li>
                      <li>《iOS调试实战》 -孔详波</li>
                  </ul>
          </ol>
          <p><a class="btn" href="/2011/schedule">详细日程 &raquo;</a></p>

        </div>
        <div class="span5">
          <h2>关于iOSCon</h2>
           <p>iOSCon.Org是举办ios开发的国际性社区。</p>
          <p><a class="btn" href="/2011/about">更多细节 &raquo;</a></p>
       </div>
        <div class="span5">

          <h2>近期新闻</h2>
          <ol>
              <li>iOSCon官方网站上线</li>
              <li>iOSCon官方微博 <a href="http://weibo.com/iOSCon" target="_blank">@PyConCN</a> 上线</li>
          </ol>
        </div>
      </div>
{{end}}
