{{extend "bootstrap_layout.html"}}

{{block meta}}
<link rel="stylesheet" type="text/css" href="{{=url_for_static('css/index.css')}}" />
<script type="text/javascript" src="{{=url_for_static('js/QTransform.js')}}"></script>
<script type="text/javascript" src="{{=url_for_static('js/bootstrap-twipsy.js')}}"></script>
<script type="text/javascript" src="{{=url_for_static('js/bootstrap-popover.js')}}"></script>
<script type="text/javascript" src="{{=url_for_static('js/index.js')}}"></script>
{{end}}

{{block content}}
    <div class="hero-unit">
        <div id="content">
            <div class="hero-content" id="first-hero">
                <div class="row show-grid">
                    <div class="span-one-third" style="width:200px;">
                        <img src="{{=url_for_static('images/PyConChina.png')}}" alt="PyCon China 2011 Logo" />
                    </div>
                    <div class="span-two-thirds" style="width:600px; text-align:right;">
                        <h1 style="border:none; padding-bottom:0;">PyCon China 2011</h1><h1>Is Here!</h1>
                        <p>Dec 3, 2011 - Dec 4, 2011 9:30 AM - 6:00 PM</p>
                        <p>Shanghai, China</p>
                        <p>Total number of seats: 300</p>
                        <p>Seats still available.</p>
                    </div>
                    <br />
                    <p style="text-align:right;"><a class="btn primary large" href="/2011/registration ">立即报名！ &raquo;</a></p>
                </div><!--END grid-->
            </div><!--END hero-content-->
            <!--NEW hero insert here-->
        </div><!--END content-->
        <div class="row show-grid" id="hero-selector">
            <div class="span1" id="first">1</div>
        </div><!-- END row-->
    </div><!-- END hero-unit-->
    
    <div class="row show-grid underhero">
        <div class="span3"><h2 style="margin-top:25px;">大会赞助商</h2></div>
        <div class="span3"><a target="_blank" href="http://www.google.com/"><img style="margin-top: 20px;" src="{{=url_for_static('images/sponsors/google.png')}}" alt="Google" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://www.douban.com/"><img style="margin-top: 35px;" src="{{=url_for_static('images/sponsors/douban.gif')}}" alt="Douban" width="150" /></a></div>
        <div class="span3"><img style="margin-top: 20px;" src="{{=url_for_static('images/sponsors/xunpu.png')}}" alt="湖州迅普" width="150" /></div>
        <div class="span3"><img src="{{=url_for_static('images/sponsors/liubao.png')}}" alt="遛宝" width="150" /></div>
    </div><!--END grid-->
    
    <div class="row show-grid underhero">
        <div class="span3"><h2 style="margin-top:10px;">媒体支持</h2></div>
        <div class="span3"><a target="_blank" href="http://www.infoq.com/"><img src="{{=url_for_static('images/sponsors/infoq.gif')}}" alt="InfoQ" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://www.csdn.net/"><img src="{{=url_for_static('images/sponsors/csdn.gif')}}" alt="CSDN" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://www.pycon.org/"><img src="{{=url_for_static('images/sponsors/pycon.gif')}}" alt="PyCon" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://gtugs.org/"><img src="{{=url_for_static('images/sponsors/gtug.gif')}}" alt="Google Technology User Groups" width="150" /></a></div>
    </div><!--END grid-->
    <div class="row show-grid underhero">
        <div class="span3">&nbsp;</div>
        <div class="span3"><a target="_blank" href="http://python.cn/"><img src="{{=url_for_static('images/sponsors/cpyug.gif')}}" alt="Python 中文社区" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://topgeek.org/"><img src="{{=url_for_static('images/sponsors/topgeek.gif')}}" alt="TopGeek" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="http://woodpecker.org.cn/"><img src="{{=url_for_static('images/sponsors/woodpecker.gif')}}" alt="Woodpecker.org.cn 啄木鸟社区" width="150" /></a></div>
        <div class="span3"><a target="_blank" href="mailto:CPUG@googlegroups.com"><img src="{{=url_for_static('images/sponsors/google_groups.gif')}}" alt="Google 网上论坛" width="150" /></a></div>
    </div><!--END grid-->
    
    <div class="row show-grid underhero speakers">
        <div class="span3"><h2 style="margin-top:10px;">演讲嘉宾</h2></div>
        <div class="span2"><img src="{{=url_for_static('images/speakers/chenshixin.jpg')}}" data-content="TopGeek社区创办人，现在全球领先的时尚科技公司2Style4You.com任CTO,1999年硕士毕业于上海交通大学计算机系，具有13年的互联网技术和互联网产品技术经验，还发起PMCamp社区等。也是ThinkinLAMP，ShanghaiOnRails，CPyUG，GTUG等社区的参与者或组织者。" alt="陈世欣" /></div>
        <div class="span2"><img src="{{=url_for_static('images/speakers/shenwai.jpg')}}" data-content="资深 Python 开发者，高效能服务器 Eurasia 的作者，湖州迅普信息技术有限公司创办人。" alt="沈崴" /></div>
        <div class="span2"><img src="{{=url_for_static('images/speakers/laiyonghao.png')}}" data-content="网游行业资深从业者，有丰富的 python 游戏开发经验。由其担纲的代表游戏有，新一代 MMOCAT大作《天下盛境》等。是珠三角技术沙龙的创办人和组委之一。" alt="赖勇浩" /></div>
        <div class="span2"><img src="{{=url_for_static('images/speakers/hongqiangning.jpg')}}" data-content="豆瓣首席架构师，豆瓣第一位全职员工。清华毕业后，洪强宁一直做嵌入式系统。在2002年开始接触Python语言，从硬件工程师变为软件工程师，对一种语言在计算机底层如何工作有深入的理解。" alt="洪强宁" /></div>
        <div class="span2"><img src="{{=url_for_static('images/speakers/damienhou.jpg')}}" data-content="Google是世界上Python水平最高工程师的云集之地。Python的发明者Guido就在Google。Damien来自Google收购的Slide公司" alt="Damien Hou" /></div>
        <div class="span2"><img src="{{=url_for_static('images/speakers/panjunyong.jpg')}}" data-content="国内python社区最早的布道者之一，2002年开始创办Zope中文社区，同时也是润普公司创始人。2007年转向互联网软件，推出易度云办公(everydo.com)，专注企业云端办公方案。" alt="潘俊勇" /></div>
    </div><!--END grid-->
    
    <div class="row show-grid underhero speakers">
        <div class="span3">&nbsp;</div>
        <div class="span2"><img src="{{=url_for_static('images/speakers/zhouqi.png')}}" data-content="Python 中文社区创始人 / 管理员，热心于python社区的公益事业，大家熟知的社区“大妈”；OBP及蟒营工程设计者 /主持人；参与并主持各种线上 / 线下活动，主持编撰了《可爱的Python》；坚持用 Pythonic 感化国人进入 FLOSS世界进行学习 / 分享 / 创造！目前就职于金山软件。" alt="Zoom.Quiet（周琦）" /></div>
        <div class="span2"><img src="{{=url_for_static('images/speakers/liyinghui.png')}}" data-content="Python 中文社区创始人及 Python 技术的关键推广者之一。广受欢迎的 Ulipad 编辑器，以及 web框架 Uliweb 的作者。" alt="Limodou（李迎辉）" /></div>
        <div class="span2"><img src="{{=url_for_static('images/speakers/linwei.jpg')}}" data-content="网易资深技术主管，17年程序设计经验。" alt="林伟" /></div>
        <div class="span2"><img src="{{=url_for_static('images/speakers/wangjian.jpg')}}" data-content="广州黑崖网络科技有限公司总经理兼技术总监。" alt="王健" /></div>
        <div class="span2"><img src="{{=url_for_static('images/speakers/huangdong.jpg')}}" data-content="黄冬现任土豆网技术副总裁，主持设计和运营过多个大型高容量产品和系统。也是中国FreeBSD、Python社区的发起者和积极参与者，啄木鸟社区的创始人之一。
此外，他还积极帮助各种创业项目，创立了彩虹流量和xBaynet系列产品。同时黄冬热衷于与家人驾车探奇，可以通过微博联系到他。" alt="黄冬" /></div>
        <div class="span2"></div>
    </div><!--END grid-->
    
    <div class="row">
        <div class="span6">
          <h2>演讲日程</h2>
          <ol>
              <li>欢迎晚宴</li>
              <li class="has_sub_schedule">组织者介绍、致辞、全球Python代表的视频&darr;
                  <ul class="sub_schedule">
                      <li>主办方和赞助者介绍</li>
                      <li>大会致辞《Python让世界更精彩》- 陈世欣</li>
                      <li>Video联播《世界各国Python高手的演讲》- 各国Pythoner</li>
                  </ul>
              </li>
              <li class="has_sub_schedule">主题演讲（第一天）&darr;
                  <ul class="sub_schedule">
                      <li>《Python ，通向未来之路》 - 沈崴</li>
                      <li>《Python 之于 Webgame 的应用》- 赖勇浩</li>
                      <li>《Python在豆瓣的应用》 - 洪强宁</li>
                      <li>《Google的Python开发：主题待定》 - Damien</li>
                      <li>《易度PaaS云开发平台技术内幕》 - 潘俊勇</li>
                      <li>《使用 MQ 解耦应用开发》 - Zoom.Quiet（周琦）</li>
                  </ul>
              </li>
              <li>把酒话英雄 - Python爱好者与嘉宾们晚宴</li>
              <li class="has_sub_schedule">主题演讲（第二天）&darr;
                  <ul class="sub_schedule">
                      <li>《Google的Python开发：主题待定》 - Ryan</li>
                      <li>《CCP Games的Python开发：主题和演讲人待定》 - 待定</li>
                      <li>《Web 框架开发思考与实践 — Uliweb》 - Limodou（李迎辉）</li>
                      <li>《网易的Python开发：主题待定》 - 林伟</li>
                      <li>《中型角色扮演网络游戏服务器的 python 应用》 - 王健</li>
                  </ul>
              </li>
              <li>快速演讲（产品Demo或技术心得分享）</li>
          </ol>
          <p><a class="btn" href="/2011/schedule">详细日程 &raquo;</a></p>

        </div>
        <div class="span5">
          <h2>关于 PyCon</h2>
           <p>PyCon.Org是举办Python语言的国际性社区，在世界各地举办Python大会，是Python 爱好者的盛会，对推动Python在各地的发展有深远的影响。</p>
          <p><a class="btn" href="/2011/about">更多细节 &raquo;</a></p>
       </div>
        <div class="span5">

          <h2>近期新闻</h2>
          <ol>
              <li>PyCon China 2011 官方网站上线</li>
              <li>PyCon China 官方微博 <a href="http://weibo.com/pyconcn" target="_blank">@PyConCN</a> 上线</li>
          </ol>
        </div>
      </div>
{{end}}